<small>Licznik: <%= digit_to_month(@month) -%></small>
<br><br>

<% @bikers.each_with_index do |biker,index| -%>

	<% nick = biker[0] -%>
	<% dist = biker[1] -%>
	<% lp = index + 1 -%>
	
	<% if lp <= 3 %>
		<b><%= index +1 %>: <%= link_to nick, trips_nick_month_path(:month => 5, :nick => nick) -%> # <%= dist -%> km<br></b>
	<% else %>
		<% if lp == 4 %>
			<br>
		<% end %>
		<%= index +1 %>: <%= link_to nick, trips_nick_month_path(:month => 5, :nick => nick) -%> # <%= dist -%> km<br>
	<% end %>

<% end -%>

<br>
<small>Ostatnia synchronizacja: <b><%= @last_check -%></b></small>
<br>


<br>
<hr>
<small>Wersja 0.2 beta ;-)</small>
<br><br>

<small>Changelog:<br>
<ul>
	<li>Dodany widget: <b><code>&lt;script type="text/javascript" id="Licznik_Widget" src="http://licznik.heroku.com/?format=js">&lt;/script></code></b></li>
	<li>2010-05-20 - Dodana automatyczna synchronizacja z forum, licznik powinien się updejtować max. 3 min po napisaniu posta</li>
</ul>
</small>


